.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 1541.74px;
  margin: 0 auto;
  overflow: hidden;
  flex-direction: column;
  overflow: hidden;
}
.carousel-title {
  font-family: Ubuntu;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 69px;
  margin-bottom: 10px;
}
.carousel-images {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center; /* 가로 중앙 정렬 */
  margin-bottom: 20px;
}

.carousel-images img {
  width: 520px;
  height: 315.264px;
  object-fit: cover;
}

.carousel-button {
  margin-top: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5); /* 반투명한 배경 */
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.8); /* 호버 시 배경 더 어둡게 */
  transform: translateY(-50%) scale(1.1); /* 호버 시 살짝 확대 */
}

.carousel-button:active {
  transform: translateY(-50%) scale(0.9); /* 클릭 시 축소 효과 */
}

.carousel-button:nth-of-type(1) {
  top: -190px;
  left: 34%; /* 왼쪽 버튼 위치 */
}

.carousel-button:nth-of-type(2) {
  top: -190px;
  right: 34%; /* 오른쪽 버튼 위치 */
}

.carousel-navigation {
  position: relative;
  width: 100%;
  margin-bottom: 120px;
}
