.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  flex-direction: column;
  overflow: hidden;
}
.carousel-title {
  font-family: Ubuntu;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 69px;
  margin-bottom: 10px;
}
.carousel-images {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-bottom: 20px;
}

.carousel-images img {
  width: 520px;
  height: 315.264px;
  object-fit: cover;
}
