.header {
  display: flex;
  width: 100%;
  align-items: center;
}
.logo {
  width: 65px;
  height: 90px;
  flex-shrink: 0;
}

.headermenu {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 40px;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: Ubuntu;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 730px;

  list-style: none; /* 동그라미 제거 */
  
}

/* 반응형 디자인: 화면 크기 조정 */

/* 화면 크기 1024px 이하일 때 */
@media (max-width: 1024px) {
  .header {
    gap: 30px; /* 화면 크기에 맞게 gap을 줄임 */
  }

  .logo {
    width: 50px;
    height: 70px;
  }

  .headermenu {
    font-size: 18px; /* 메뉴 텍스트 크기 줄임 */
    gap: 20px; /* 메뉴 항목 간의 간격을 줄임 */
  }
}
