.near-expiration-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
  overflow: hidden;
  flex-direction: column;
  overflow: hidden;
}
.near-expiration-title {
  font-family: Ubuntu;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 40px;
  margin-bottom: 10px;
}
.near-expiration-images {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-bottom: 20px;
}

.near-expiration-images img {
  width: 352.5px;
  height: 500px;
  object-fit: cover;
}

.near-expiration-buttons {
  position: relative;
  width: 100%;
  margin-bottom: 120px;
}

.near-expiration-buttons-carousel {
  margin-top: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5); /* 반투명한 배경 */
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.near-expiration-buttons-carousel:nth-of-type(1) {
  top: -290px;
  left: 27%;
}

.near-expiration-buttons-carousel:nth-of-type(2) {
  top: -290px;
  right: 27%;
}
.near-expiration-buttons-carousel:hover {
  background-color: rgba(0, 0, 0, 0.8); /* 호버 시 배경 더 어둡게 */
  transform: translateY(-50%) scale(1.1); /* 호버 시 살짝 확대 */
}
.near-expiration-buttons-carousel:active {
  transform: translateY(-50%) scale(0.9); /* 클릭 시 축소 효과 */
}
