.fridge-searchbar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 98%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 10px; /* 내부 여백 */
  background-color: #fff;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.fridge-searchbar {
  flex: 1; /* 남은 공간을 모두 차지 */
  border: none;
  outline: none;
  padding: 10px 0;
  font-size: 16px;
  box-sizing: border-box;
}

.fridge-search-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px; /* 아이콘과 텍스트 입력 사이 간격 */
}

.fridge-search-icon-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
